<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Topics</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="study-title">
      <h1>Study Topics for FSOT</h1>
    </div>
    <div class="study-content">
      <ul>
        <li>
          <a
            href="https://www.youtube.com/playlist?list=PL8dPuuaLjXtMwmepBjTSG593eG7ObzO7s"
            target="_blank"
            >American History</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=c8PEv5SV4sU" target="_blank"
            >American Culture</a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/playlist?list=PL8dPuuaLjXtOfse2ncvffeelTrqvhrz8H"
            target="_blank"
            >American Political System</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=_tULRch1PRQ" target="_blank"
            >American Economic History</a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/playlist?list=PL8dPuuaLjXtPNZwz5_o_5uirJ8gQXnhEO"
            target="_blank"
            >Macro/Micro Economics</a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/playlist?list=PLBDA2E52FB1EF80C9"
            target="_blank"
            >World History</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=93LLwiMjDko" target="_blank"
            >World Geography</a
          >
        </li>
        <li>
          <a
            href="https://www.udemy.com/course/management-course-practical-training-for-new-managers/"
            target="_blank"
            >Management Principles</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=sxQaBpKfDRk" target="_blank"
            >Statistics</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/watch?v=TG55ErfdaeY" target="_blank"
            >World Religions</a
          >
        </li>
      </ul>
      <a href="/" id="button"><button>Home</button></a>
    </div>
  </body>
</html>
